#copyToClipBoard {
    position: fixed;
    background-color: #118844;
    height: 10vh; width: 4.5vw;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 2px 5px #000;
    left: 1vw;
    bottom: 5vh;
}

#copyToClipBoard img {
    height: 5vh; width: 2.2vw;
}