#Footer {
    position: fixed;
    height: 1vh;
    text-align: end;
    width: 22vh;
    font-size: 2vh;
    color: #fff;
    text-align: start;
    left: 1vh;
    bottom: 3vh;

}

#Footer p {
    padding: 1vh;
}

#Footer a {
    color: var(--main-color);
}
