#Header {
    height: 30px;
    width: 100%;
    background-color: var(--main-color);
    font-size: 13px;
    color: #fff;
    text-align: center;
}

#Header h1 {
    font-size: 20px;
    padding-top: 4px;
}