@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #1a1a1a;
}

#Warper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    height: 80vh; width: 100vw;
}

button:hover {
    cursor: pointer;
}